<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <title>
        </title>
        <link rel="stylesheet" href="https://s3.amazonaws.com/codiqa-cdn/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/my.css")" />
        <script src="https://s3.amazonaws.com/codiqa-cdn/jquery-1.7.2.min.js">
        </script>
        <script src="https://s3.amazonaws.com/codiqa-cdn/mobile/1.2.0/jquery.mobile-1.2.0.min.js">
        </script>
       <script src="@routes.Assets.at("javascripts/my.js")">
        </script>
        <!-- User-generated css -->
        <style>
        </style>
        <!-- User-generated js -->
        <script>
            try {

    $(function() {

    });

  } catch (error) {
    console.error("Your javascript has an error: " + error);
  }
        </script>
    </head>
    <body>
        <!-- Home -->
        <div data-role="page" id="page1">
           
            <div data-role="content">
                <h3 align="center">
                    Top Performer
                </h3>
                <table align="center">
                	<tr>
                    	<th>Rank</th>
                        <th>Name</th>
                    </tr>
                    <tr class="performer">
                    	<td>1</td>
                        <td>Lara Croft</td>
                    </tr>
                    <tr>
                    	<td>2</td>
                        <td>Bat Man</td>
                    </tr>
                    <tr>
                    	<td>3</td>
                        <td>Oliver Hardy</td>
                    </tr>
                    <tr>
                    	<td>4</td>
                        <td>Spider Man</td>
                    </tr>
					<tr>
                    	<td>5</td>
                        <td>Iron Man</td>
                    </tr>
					<tr>
                    	<td>6</td>
                        <td>Stan Laurel</td>
                    </tr>
					<tr>
                    	<td>7</td>
                        <td>Open Gangnam</td>
                    </tr>
					<tr>
                    	<td>8</td>
                        <td>Shaktiman</td>
                    </tr>
                </table>                
                
            </div>
        </div>
    </body>
</html>
